*{
    color: #5680E9;
    /* rgb(86,128,233) */
    color: #84ceeb;
    /* rgb(132,206,235) */
    color: #5ab9ea;
    /* rgb(90,185,234) */
    color: #c1c8e4;
    /* rgb(193,200,228) */
    color: #8860d0;
    /* rgb(136,96,208) */

}