*{
    color: #5680E9;
    /* rgb(86,128,233) */
    color: #84ceeb;
    /* rgb(132,206,235) */
    color: #5ab9ea;
    /* rgb(90,185,234) */
    color: #c1c8e4;
    /* rgb(193,200,228) */
    color: #8860d0;
    /* rgb(136,96,208) */

}

*{
    color: #25274d;
    /* rgb(37,39,77) */
    color: #9da1df;
    /* rgb(70,72,102) */
    color: #aaabb8;
    /* rgb(170,171,184) */
    color: #2e9cca;
    /* rgb(46,156,202) */
    color: #29648a;
    /* rgb(41,100,138) */
}
